@media screen and (max-width: 800px) {
    .attendance-management-page .page-container .main-block .parade-information .flex-block .half-block {
        width: 100%;
    }

    .attendance-management-page .parade-information textarea {
        width: 100%;
    }

    .attendance-management-page .page-container .parade-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        position: sticky;
        top: 0;
        background: white;
    }

    .attendance-management-page .page-container .parade-list button {
        flex-shrink: 0;
    }

    .attendance-management-page .page-container .parades {
        flex-direction: column;
    }

    .attendance-management-page .page-container {
        min-height: 500px;
    }

    .attendance-management-page .parade-list > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .attendance-management-page .parade-list > div > div:last-of-type {
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: 5px;
        overflow-x: auto;
    }

    .attendance-management-page .parade-list > div > div:last-of-type button {
        width: max-content;
    }

    .attendance-management-page .page-container {
        height: 100%;
    }

    .attendance-management-page .new-parade-form {
        .flex-block {
            flex-direction: column;
            gap: 5px;
        }

        .half-block {
            width: 100%;
        }
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:last-of-type button {
        width: max-content;
    }
}

@media screen and (max-width: 500px) {
    .attendance-management-page {
        .new-parade-form .new-announcement-container {
            align-items: flex-start;
            flex-direction: column;

            input, button {
                width: 100%;
            }
        }

        .new-parade-form .platoon-program-container {
            background: #fafafa;
            padding: 10px 5px;
            border-radius: 10px;
        }

        .new-parade-form > div:nth-of-type(5) > div > div {
            gap: 20px;
        }

        .new-parade-form .platoon-program-container > div > div {
            flex-direction: column;
            width: 100%;
        }

        .new-parade-form .platoon-program-container input[type='datetime-local'] {
            width: 100%;
        }

        .new-parade-form > div:first-of-type select {
            width: 100%;
        }

        .new-parade-form > div:first-of-type > label {
            flex-shrink: 0;
        }

        .new-parade-form .platoon-program-container button {
            background: transparent;
        }

        .annual-attendance-list h1, .parade-list h1 {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 400px) {
    .attendance-management-page .new-parade-form .half-block {
        grid-template-columns: 1fr;
    }
}