@media screen{
	.award-management-page .page-container .award-tracker {
        overflow: hidden;
	}

    .award-management-page .page-container .award-attainment-table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .award-table {
            display: grid;
            grid-template-columns: 210px repeat(var(--columns), 130px);
            overflow-x: auto;
            margin-bottom: 10px;
            max-height: 85vh;

            .boy-header {
                grid-row: span 2;
                position: sticky;
                left: 0;
                background: white;
            }

            p {
                padding: 5px;
                border: 1px solid black;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: span var(--colspan, 1);
                grid-row: span var(--rowspan, 1);
                height: calc(40 * var(--rowspan, 1));
            }

            .award-header {
                font-weight: bold;
            }

            .award-boy {
                justify-content: start !important;
                position: sticky;
                left: 0;
                background: white;
                text-align: left;
            }

            input {
                accent-color: black;
            }
        }
    }
}