@media screen{
	.award-management-page .page-container .award-tracker{
        height: 100%;
        max-width: 100%;
		overflow-y: auto;
	}

    .award-management-page .page-container .award-tracker .award-table {
        border-collapse: collapse; /* Ensures borders don't have gaps */
        max-width: 100%; /* Stretch table to fit within container */
    }
    
    .award-management-page .page-container .award-tracker .award-table td, 
    .award-management-page .page-container .award-tracker .award-table th {
        border: 1px solid #000; /* Set border for all cells */
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
        padding: 10px; /* Optional: Adds padding to make cells look better */
    }
}