@media screen {
	.award-management-page .page-container *:not(.fa-solid) {
		font-family: sans-serif;
	}

	.award-management-page .page-container {
		display: flex;
		flex-direction: column;
		margin: 20px 30px;
		box-sizing: border-box;
		gap: 20px;

		.toggle-buttons {
			display: flex;
			justify-content: center;
			gap: 20px;

			input {
				display: none;
			}

			label {
				text-align: center;
				width: 150px;
				padding: 5px 20px;
				background: white;
				border-radius: 10px;
				cursor: pointer;
				color: black;
				border: 1px solid black;
				outline: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			input:checked + label {
				background: black;
				color: white;
			}
		}

		.awards {
			display: flex;
			gap: 20px;
		}
	}

	.award-management-page .page-container .award-information * {
		user-select: auto !important;
	}

	.award-management-page .page-container .award-information {
		display: flex;
		gap: 20px;
		width: 100%;

		> div:first-of-type {
			width: 20vw;

			> div {
				display: flex;
				flex-direction: column;
				gap: 10px;
				position: sticky;
				top: 10px;
				height: 95vh;
				overflow-y: auto;
			}

			input[type='radio'] {
				display: none;
			}

			label {
				padding: 3px 5px;
				cursor: pointer;
				border-radius: 10px;
				color: black;
			}

			input[type='radio']:checked + label {
				background: black;
				color: white;
			}

			label:hover {
				background: lightgrey;
			}
		}

		> div:last-of-type {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 10px;

			> p {
				width: 100%;
				display: flex;
				align-items: center;
				font-weight: bold;
				font-size: 20px;
				margin-top: 20px;
			}

			> div:first-of-type {
				display: flex;
				gap: 10px;
				justify-content: space-between;
				align-items: center;

				h1 {
					font-size: 20px;
				}

				a {
					text-decoration: none;
					color: black;

					i {
						font-size: 18px;
					}
				}
			}

			.mastery-level {
				display: flex;
				flex-direction: column;
				gap: 10px;
				border: 1px solid black;
				padding: 15px;
				border-radius: 10px;
				transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

				&:hover {
					transform: translateY(-5px);
   					box-shadow: 0 0 5px black;
				}

				> div {
					display: flex;
					gap: 10px;
					justify-content: space-between;
					align-items: center;
				}
				
				h2 {
					font-size: 18px;
				}

				span {
					background: black;
					color: white;
					border-radius: 10px;
					padding: 5px;
					font-size: 14px;
				}
			}
		}
	}

	.award-management-page .page-container .award-information .edit-button {
		margin-left: 70%;
		width: 30%;
	}

	.award-management-page .page-container .award-information .delete-button {
		margin-left: 70%;
		width: 30%;
	}

	.award-file-reader {
		label {
			width: 250px;
			height: 100px;
			border: 1px dotted black;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 14px;
			color: black;
			padding: 10px;
			text-align: center;
			border-radius: 10px;
		}

		input {
			display: none;
		}
	}

	.edit-award-form * {
		box-sizing: border-box;
	}

	.edit-award-form {
		display: grid;
		grid-template-columns: 250px 1fr;
		align-items: center;
		gap: 10px 20px;

		h3 {
			grid-column: span 2;
			padding: 10px 0;
			border-bottom: 1px solid black;
		}

		textarea {
			width: 100%;
			height: 180px;
			resize: none;
			border: 1px solid black;
			outline: none;
			background: transparent;
			color: black;
			font-size: 14px;
			border-radius: 10px;
			padding: 15px;
		}

		select, input {
			border: none;
			border-bottom: 1px solid black;
			background: transparent;
			color: black;
			border-radius: 0;
			outline: none;
			padding: 5px 10px;
		}
	}

	// All styles below are not formatted

	.award-management-page .page-container .menu-button{
		display: flex;
		padding: 2%;
		background-color: white;
		border: none;
		height: 4vh;
	}

	.award-management-page .page-container button:hover{
		background-color: lightgrey;
		border: none;
	}

	.award-management-page .page-container .awards-list{
		width: 26%;
		border-style: solid;
		border-color: darkgrey;
		border-radius: 5px;
		padding: 1%;
		margin: 1%;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 100%;
	}

	.award-management-page .page-container .awards-list img{
		height: 5vh;
	}

	.award-management-page .page-container .awards-list button{
		width: 95%;
		text-align: left;
		margin-left: 2.5%;
	}

	.award-management-page .page-container .main-block{
		max-height: 95%;
		width: 70%;
		border-style: solid;
		border-color: darkgrey;
		border-radius: 5px;
		padding: 1%;
		margin: 1%;
		overflow: hidden;
	}

	.award-management-page .create-award-form{
		max-height: 95%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.award-management-page .create-award-form label{
		font-size: auto;
	}

	.award-management-page .create-award-form button{
		margin-left: 70%;
		width: 30%;
	}

	.award-management-page .edit-field {
		width: 50%;
		font-size: 20px;
		margin: 1%;
	}

	.award-management-page .create-award-form__name{
		width: 30%;
		font-size: 20px;
		margin: 1%;
	}

	.award-management-page .create-award-form__requirements{
		width: 80%;
		font-size: 20px;
		margin: 1%;
	}

	.award-management-page .create-award-form__description{
		width: 80%;
		font-size: 20px;
		margin: 1%;
	}

	.award-management-page .create-award-form__level{
		width: 15%;
		font-size: 20px;
		margin: 1%;
		text-align: center;
		border: solid;
		border-color: black;
		border-width: 1px;
	}

	.award-management-page .img-button{
		padding: 0%;
		height: 5vh;
		width: 5vw;
	}
}