@media screen{
	.question-list-page{
		max-height: 95%;
		border-style: solid;
		border-color: darkgrey;
		border-radius: 5px;
		padding: 1%;
		margin: 1%;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		width: 70%;
	}

	.question-list{
		position: relative;
		width: 95%;
		margin: 1%;
		padding: 1%;
		border: black;
		border-radius: 5px;
		margin-top: 2%;
	}

	.question-list button{
		width: 100%;
		text-align: left;
	}

	.question-list .question-editor button{
		width: 20%;
		text-align: left;
	}
}