@media screen {
	.create-question-form .create-question-form__type{
		width: 80%;
		font-size: 20px;
		margin: 1%;
	}

	.create-question-form .create-question-form__question{
		width: 80%;
		font-size: 20px;
		margin: 1%;
	}

	.create-question-form .create-question-form__marks{
		width: 80%;
		font-size: 20px;
		margin: 1%;
	}

	.create-question-form .create-question-form-submit__button{
		margin-left: 60%;
	}

	.create-question-form button{
		width: 20%;
		height: auto;
	}
}