@media screen{
	.award-list{
		position: relative;
		max-height: 90%;
		width: 26%;
		overflow-x: hidden;
		overflow-y: auto;
		margin: 1%;
		padding: 1%;
		border-style: solid;
		border-color: darkgrey;
		border-radius: 5px;
	}

	.award-list button{
		display: flex;
		background-color: white;
		border: none;
		width: 100%;
		height: 4vh;
		padding: 2%;
	}

	.award-list button:hover{
		background-color: lightgrey;
		border: none;
	}
}