@media screen{
	.quiz-list{
		position: relative;
		height: 100%;
		width: 80%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: black;
		border-radius: 5px;
		margin-top: 2%;
		margin-left: 5%;
	}

	.quiz-list button{
		width: 80%;
		margin-left: 1%;
		text-align: left;
	}
}