@media screen{
	.create-account-page{
		position: relative;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		text-align: center;
	}

	.create-account-page .create-account-form{
		height: 50%;
		width: 50%;
		position: absolute;
		top: 25%;
		left: 25%;
		border: solid;
		border-radius: 3%;
	}

	.create-account-page .create-account-form label{
		font-size: 30px;
	}

	.create-account-page .create-account-form__name{
		position: absolute;
		top: 30%;
		left: 25%;
		width: 50%;
		font-size: 20px;
	}

	.create-account-page .create-account-form__password{
		position: absolute;
		top: 40%;
		left: 25%;
		width: 50%;
		font-size: 20px;
	}

	.create-account-page .create-account-form__type{
		position: absolute;
		top: 50%;
		left: 25%;
		width: 50%;
		font-size: 20px;
	}

	.create-account-page .create-account-form button{
		position: absolute;
		top: 60%;
		left: 25%;
		width: 50%;
		font-size: 20px;
	}
}