@media screen {
	.uniform-inspection-page *:not(.fa-solid), .uniform-inspection-form *:not(.fa-solid), .uniform-inspection-result-page *:not(.fa-solid) {
		font-family: sans-serif;
		box-sizing: border-box;
	}

	.uniform-inspection-page .page-container {
		margin: 20px 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.uniform-inspection-list-table {
		display: grid;
		grid-template-columns: 50px 1fr repeat(3, 200px) max-content;
		border-bottom: 1px solid black;

		> div {
			display: contents;
		}

		> p {
			font-size: 18px;
			font-weight: bold;
		}

		p {
			padding: 5px 10px;
			border: 1px solid black;
			border-bottom: none;
			border-right: none;
			display: flex;
			align-items: center;
		}

		p:first-of-type { 
			justify-content: center;
		}

		p:last-of-type { 
			justify-content: center;
			border-right: 1px solid black;
		}

		a {
			text-decoration: none;
			color: black;
			cursor: pointer;
		}
	}

	#conduct-inspection-button {
		cursor: pointer;
		background: black;
		color: white;
		border: 1px solid white;
		outline: none;
		border-radius: 10px;
		padding: 5px 10px;
		width: max-content;
		margin-left: auto;
		position: fixed;
		bottom: 20px;
		right: 20px;
	}

	.uniform-inspection-filter {
		display: flex;
		gap: 10px 20px;
		flex-wrap: wrap;
		align-items: center;
		position: sticky;
		top: 0;
		background: white;

		div {
			display: flex;
			gap: 10px;
			align-items: center;
			flex-wrap: wrap;
		}

		input[type='checkbox'] {
			display: none;
		}

		input[type='checkbox'] + label {
			cursor: pointer;
			border: 1px solid black;
			outline: none;
			border-radius: 10px;
			padding: 3px 5px;
			color: black;
			font-size: 14px;
		}

		input[type='checkbox'] + label::before {
			content: '\f00d';
			font: var(--fa-font-solid);
			margin-right: 5px;
			color: red;
		}

		input[type='checkbox']:checked + label::before {
			content: '\f00c';
			font: var(--fa-font-solid);
			margin-right: 5px;
			color: darkgreen;
		}

		input[type='search'] {
			padding: 5px 10px;
			border: none;
			border-bottom: 1px solid black;
			outline: none;
			border-radius: 0;
			width: 200px;
			background: transparent;
		}

		label[for='search'] i {
			margin-right: 5px;
		}
	}

	.uniform-inspection-form {
		display: flex;
		flex-direction: column;
		margin: 20px 30px;
		gap: 20px;

		.form-selection {
			background: white;
			padding: 5px 0;
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 18px;
			position: sticky;
			top: 0;

			select {
				outline: none;
				border: none;
				background: transparent;
				padding: 5px 10px;
				color: black;
				border-radius: 0;
				border-bottom: 1px solid black;
				width: 220px;
			}
		}

		.page-container {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.page-container > div:first-of-type {
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: center;

			i {
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				padding: 5px;
				cursor: pointer;
				transition: transform 0.3s ease-in-out;
			}

			i:hover {
				background: #e6e6e6;
			}
		}

		.boy-selector {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			overflow: hidden;

			div {
				display: flex;
				gap: 5px;
				align-items: center;
			}

			label {
				width: 300px;
				display: flex;
				gap: 10px;
				align-items: center;
				cursor: pointer;
			}

			input + label::before {
				font: var(--fa-font-solid);
				content: '\f00d';
				margin-right: 5px;
				color: red;
				width: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			input:checked + label::before {
				content: '\f00c';
				color: darkgreen;
			}

			label p {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			input {
				display: none;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-top: 10px;

			div {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			ul {
				margin-left: 10px;
			}

			li {
				display: flex;
				gap: 10px;
				align-items: center;

				input {
					accent-color: black;
				}

				label {
					line-height: 1.3;
					cursor: pointer;
				}
			}

			input:not(.field-missing):checked + label {
				color: darkgreen;
				text-decoration: line-through;
			}

			.field-missing + label {
				color: red;
			}

			button {
				width: max-content;
				margin-left: auto;
				padding: 5px 10px;
				background: black;
				color: white;
				border: 1px solid white;
				outline: none;
				border-radius: 10px;
				cursor: pointer;
			}
		}
	}

	.uniform-inspection-result-page {
		display: flex;
		flex-direction: column;
		margin: 20px 30px;
	}

	.uniform-inspection-result-page .page-container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		> div:first-of-type {
			display: flex;
			flex-direction: column;
			gap: 10px;
			position: sticky;
			top: 0;
			background: white;

			select {
				background: transparent;
				padding: 5px 10px;
				color: black;
				border-radius: 0;
				outline: none;
				border: none;
				border-bottom: 1px solid black;
			}

			> div {
				display: flex;
				gap: 5px;
			}

			> div:first-of-type {
				align-items: center;
			}

			> div:last-of-type {
				flex-direction: column;
			}
		}

		div:not(:first-of-type) {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		ul {
			margin-left: 10px;
		}

		li {
			display: flex;
			gap: 10px;
			align-items: center;

			input {
				accent-color: black;
			}

			label {
				line-height: 1.3;
				cursor: pointer;
			}
		}

		input:not(.field-missing):checked + label {
			color: darkgreen;
		}

		.field-missing + label {
			color: red;
		}
	}
}