@media screen and (max-width: 800px) {
    footer > div {
        grid-template-columns: 1fr !important;
    }

    footer > div > div {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
    }

    footer > div:first-of-type > div:last-of-type > div {
        flex-direction: row;
    }

    footer > div:first-of-type > div:last-of-type > div a {
        margin-left: 0;
    }

    footer > div:first-of-type > div:last-of-type {
        justify-content: center;
        align-items: center;
    }

    footer > div:first-of-type > div > div {
        flex-wrap: wrap;
    }

    footer > div:first-of-type > div:last-of-type > div > a {
        margin-left: 0 !important;
    }
}
