@media screen and (max-width: 800px) {
	header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            object-fit: contain;
        }

        > div {
            position: relative;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        > div:first-of-type {
            align-items: center;

            button {
                display: flex !important;
                color: black;
            }
        }

        .menu-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            left: 0;

            i {
                font-size: 25px;
            }
        }

        .menu-button:hover {
            background: transparent;
        }

        > div:nth-of-type(2) {
            display: block;
            overflow: hidden;
            transition: height 0.3s ease-in-out;

            button {
                height: 40px;
                border-bottom: 1px solid black;
                text-align: left;
                background: transparent;
                color: black;
                outline: none;
                width: 100%;
            }

            button:not(.log-in--button):last-of-type {
                display: none;
            }
        }

        > div:nth-of-type(2)[data-state='false'] {
            height: 0 !important;
        }

        .sidebar {
            display: none;
        }
	}
}