@media screen and (max-width: 800px){
	.navigation-bar{
		position: relative;
		height: 7vh;
		width: 100%;
		background-color: #1E90FF;
		margin: 0;
		padding: 0;
	}

	.crest{
		position: absolute;
		left: 0;
	}

	.account-dropdown{
		position: absolute;
		right: 0;
	}

	.navigation-bar button{
		height: 100%;
		padding: 0;
	}

	.navigation-bar img{
		height: 100%;
	}

	.navigation-bar .user-menu{
		position: absolute;
		top: 100%;
		right: 0%;
		z-index: 1000;
		width: 50%;
	}

	.navigation-bar .user-menu button{
		width: 100%;
		height: 10vh;
	}

	.navigation-bar .user-menu button:hover{
		opacity: 0.8;
	}
}