@media screen and (max-width: 800px) {
    .user-management-page .page-container .main-block .create-account-form > div,
    .user-management-page .page-container .user-information form {
        grid-template-columns: 1fr;
    }

    .user-management-page:has(.users-list) .main-block, .user-management-page hr {
        display: none;
    }

    .user-management-page .users-list {
        width: 100% !important;
    }

    .user-management-page .users {
        height: unset !important;
        min-height: 300px;
    }

    .user-management-page .page-container .users-list > div:first-of-type {
        background: white;
        position: sticky;
        top: 0;
    }

    .user-management-page .back-button {
        display: flex;
        gap: 10px;
        color: black;
        align-items: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .user-management-page .appointment-holders-users {
        grid-template-columns: max-content 1fr !important;

        div {
            grid-column: span 2;
            justify-content: end;
        }
    }
}

@media screen and (max-width: 600px) {
    .user-management-page .appointment-holders-list form {
        grid-template-columns: 1fr !important;
        width: unset !important;

        h3, button {
            grid-column: span 1 !important;
        }

        button {
            margin-left: auto !important;
        }
    }
}