@media screen {
    .attendance-management-page {
        position: relative;
        margin-bottom: 20px;
    }

    .attendance-management-page * {
        box-sizing: border-box;
    }

    .attendance-management-page .page-container {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
	}

    .attendance-management-page .parade-list h1 {
        font-family: sans-serif;
    }

    .attendance-management-page .page-container .parades {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex: 1;
    }

    .attendance-management-page .page-container .parade-list {
		width: 20%;
        flex-shrink: 0;
	}

    .attendance-management-page .page-container .parade-list button {
        border: 1px solid black;
        padding: 5px;
        cursor: pointer;
        color: black;
	}

	.parade-form-popup-content{
		position: absolute;
        width: 90vw;
        height: 90vh;
        overflow-y: auto;
        overflow-x: auto;
	}

    .attendance-management-page .page-container .main-block {
        flex: 1;
    }

    .attendance-management-page .page-container .main-block .parade-information {
        overflow: auto;
        height: 100%;

        .flex-block {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .flex-block .half-block {
            width: calc((100% - 20px) / 2);

            h3 {
                font-family: sans-serif;
                margin-bottom: 5px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid black;
                padding: 5px;
                font-family: sans-serif;
            }

            td:last-of-type {
                text-align: center;
            }
        }

        iframe {
            height: 750px;
            width: 100%;
            border: 1px solid black;
            box-sizing: border-box;
        }

        textarea {
            border-radius: 10px;
            padding: 5px 10px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        > div:first-of-type {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
            justify-content: end;

            > button {
                padding: 5px 10px;
                background: black;
                color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                outline: none;
                gap: 10px;
                cursor: pointer;
            }
    
            > button:hover {
                background: black;
            }
    
            > button[name='show-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f424";
            }
    
            > button[name='hide-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f422";
            }
    
            > button[name='edit-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f044";
            }
        }

        label[for='parade-description'], h4 {
            font-family: sans-serif;
        }
    }

    .attendance-management-page .parade-list > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .attendance-management-page .parade-list .fa-file-excel, .attendance-management-page .parade-list .fa-plus {
        margin-right: 5px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 5px 10px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:first-of-type {
        justify-content: space-between;
        align-items: center;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div {
        display: flex;
        gap: 5px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:last-of-type button {
        width: calc((100% - 5px) / 2);
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:first-of-type button {
        background: black;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
    }

    .new-parade-form {
        overflow-y: auto;
    }

    .new-parade-form *:not(.fa-solid) {
        font-family: sans-serif;
    }

    .new-parade-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div:not(:nth-of-type(-n + 2)) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        > div:first-of-type {
            gap: 20px;
            width: 100%;
            align-items: center;
            display: flex;

            select {
                width: 30%;
                border: none;
                outline: none;
                padding: 5px;
                color: black;
                border-bottom: 1px solid black;
                background: transparent;
            }
        }

        .flex-block {
            display: flex;
            gap: 20px;
            width: 100%;
        }

        .half-block {
            width: calc((100% - 20px) / 2);
            display: grid;
            align-items: center;
            gap: 5px 10px;
            grid-template-columns: 120px 1fr;

            input, select {
                border: none;
                outline: none;
                border-radius: 0;
                padding: 5px;
                color: black;
                border-bottom: 1px solid black;
                background: transparent;
            }
        }

        textarea {
            border-radius: 10px;
            padding: 10px;
            border: 1px solid black;
            background: transparent;
            background: transparent;
            width: 100%;
            outline: none;
        }

        textarea:disabled {
            cursor: not-allowed;
        }

        ol {
            list-style-type: none;
            list-style-position: inside;
            counter-reset: section;
        }

        li {
            display: flex;
            align-items: center;
            padding-left: 0;
            gap: 10px;
        }

        li::before {
            counter-increment: section;
            content: counters(section, ".") ")";
        }

        > h3 {
            font-size: 24px;
        }

        > div:nth-of-type(4) > div:first-of-type, > div:nth-of-type(5) div:has(ol) {
            input {
                border: none;
                outline: none;
                background: transparent;
                flex: 1;
                border-radius: 0;
                border-bottom: 1px solid black;
                padding: 5px;
            }

            button {
                display: flex;
                width: 50px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: black;
            }

            button:hover {
                background: transparent;
            }

            button i {
                font-size: 16px;
            }
        }

        > div:nth-of-type(5) {
            counter-reset: div-counter;
            gap: 20px;
            margin-bottom: 10px;

            > div {
                counter-increment: div-counter;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &::before {
                    content: "Secondary " counters(div-counter, ".");
                    margin-bottom: 5px;
                    font-size: 24px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid black;
                    font-weight: bold;
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                > div > div:last-of-type {
                    margin-top: 10px;
                }
            }

            > div:last-of-type::before {
                content: "Secondary 4 / 5";
            }
        }

        .new-announcement-container { 
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            flex-direction: row;

            input {
                border: none;
                outline: none;
                background: transparent;
                flex: 1;
                border-radius: 0;
                border-bottom: 1px solid black;
                padding: 5px 0;
            }

            button {
                width: 50px;
                cursor: pointer;
                display: flex;
                color: black;
                align-items: center;
                justify-content: center;
            }

            button:hover {
                background: transparent;
            }

            i {
                font-size: 16px;
                cursor: pointer;
            }
        }

        .platoon-program-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            > div {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 0 !important;
                align-items: center;

                > div {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }

            input[type='datetime-local'] {
                padding: 5px;
                background: transparent;
                color: black;
                width: min-content;
                outline: none;
                border: 1px solid black;
                border-radius: 10px;
                text-align: left;
            }

            input[type='text'] {
                padding: 5px;
                background: transparent;
                color: black;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid black;
                color: black;
                flex: 1;
                outline: none;
            }

            button {
                width: 50px;
                cursor: pointer;
                display: flex;
                color: black;
                align-items: center;
                justify-content: center;
            }

            button:hover {
                background: transparent;
            }

            i {
                font-size: 16px;
            }
        }

        > button {
            width: max-content;
            background: black;
            color: white;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 5px 10px;
            margin-left: auto;
            margin-top: 10px;
            cursor: pointer;
        }

        button:hover {
            background: black;
        }
    }

    .attendance-management-page .page-container .main-block .parade-information .parade-editor .flex-block {
        margin: 0 !important;
        padding: 0 !important;
    }

    .parade-notice-page {
        display: flex;
        margin: 20px 30px;
        font-family: sans-serif;
        min-height: 500px;
        justify-content: center;

        div {
            width: max-content;
            display: flex;
            flex-direction: column;
        }

        iframe {
            max-width: 297mm;
            height: 210mm;
            width: 100vw;
            border: 1px solid black;
        }
    }
}

@media screen and (min-width: 800px) {
    .attendance-management-page .parade-list > div {
        position: sticky;
        top: 20px;
        max-height: 95vh;
        overflow: auto;
    }

    .parade-list > div > div:last-of-type {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        > button {
            width: calc((100% - 5px) / 2);
        }
    }

    .attendance-management-page .page-container .parade-list button {
        width: calc((100% - 5px) / 2);
    }
}