@media screen and (min-width: 800px){
	.log-in-page{
		position: relative;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		text-align: center;
	}

	.log-in-form{
		height: 50%;
		width: 50%;
		position: absolute;
		top: 25%;
		left: 25%;
		border: solid;
		border-radius: 3%;
		font-size: 20px;
	}

	.log-in-form__name{
		position: absolute;
		top: 65%;
		left: 25%;
		width: 50%;
		font-size: 20px;
	}

	.log-in-form__password{
		position: absolute;
		top: 75%;
		left: 25%;
		width: 50%;	
		font-size: 20px;
	}

	.log-in-form button{
		position: absolute;
		top: 85%;
		left: 25%;
		width: 50%;	
		font-size: 20px;
	}
}