@media screen{
	button{
		background-color: white;
		border: none;
	}

	button:hover{
		background-color: lightgrey;
		border: none;
	}

	.mastery-selector{
		display: flex;
	}

	.mastery-selector button{
		border: solid;
		border-style: solid;
		border-color: darkgrey;
		border-radius: 5px;
	}
}