@media screen{
	.popup-content {
	  margin: auto;
	  background: rgb(255, 255, 255);
	  padding: 5px;
	  border: solid;
	  border-color: black;
	}

	.popup-arrow {
	  color: black;
	}

	[role='tooltip'].popup-content {
	  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
	}

	.popup-content p:hover {
	  background-color: lightgrey;
	}

	.popup-content p {
	  text-align: center;
	}

	.popup-overlay {
	  background: rgba(0, 0, 0, 0.5);
	}

	[data-popup='tooltip'].popup-overlay {
	  background: transparent;
	}
}