@media screen{
	.quiz-editing-page .page-container{
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 3vh;
		height: 90vh;
	}

	.quiz-editing-page .page-container button{
		display: flex;
		padding: 2%;
		background-color: white;
		height: 4vh;
	}

	.quiz-editing-page .page-container button:hover{
		background-color: lightgrey;
	}
}