@media screen{
	.assigned-account{
		margin-left: 10vw;
		width: 80vw;
	}

	.name{
		width: 55%;
		text-align: center;
	}

	.attempts{
		width: 15%;
		text-align: center;
	}

	.score{
		width: 15%;
		text-align: center;
	}

	.view-attempts{
		width: 15%;
		text-align: center;
	}
}