footer {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 10px 20px;
    color: white;
    gap: 20px;
}

footer > div:first-of-type {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    height: max-content;
    justify-content: space-evenly;
}

footer > div:first-of-type > div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

footer > div:first-of-type > div > div {
    display: flex;
    gap: 20px;
}

footer > div:first-of-type > div:last-of-type {
    align-items: flex-start;
}

footer > div:first-of-type > div:last-of-type > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > div:first-of-type > div:last-of-type > div > a:first-of-type {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 13px;
}

footer > div:first-of-type > div:last-of-type > div > a:last-of-type {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 13px;
}

footer > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    justify-content: center;
}

footer > div:last-of-type a {
    color: white;
    text-decoration: none;
}

footer .fa-brands {
    font-size: 40px;
    color: white;
}

footer img {
    object-fit: contain;
}
