@media screen and (max-width: 400px) {
    .reset-password-page {
        button {
            grid-column: span 2;
        }

        form {
            grid-template-columns: 1fr max-content;
        }

        label {
            grid-column: span 2;
        }
    }
}